<!--Comienzo Estilospropios*****************************-->
<style>
body{
  padding-top: 70px;
}

.status{
  border-bottom:solid 1px #ccc;
  padding: 5px;
}

.status p{
  margin: 4px 0;
}

.status .admin{
  display: none;
}

/*cuando la accion del hover ocurra dentro de l seccion admin*/
/*funciona con js*/
.status.hover .admin{
  display: inline;
}

</style>
<!--***Fin Estilos propios**********************************-->


<!--Cosas Serias:-->
<div class="page-header">
<h1>Todos los Estados</h1>
</div>

<% @statuses.each do |status| %>

<div class="status">

<strong>
  <%= status.user.nombre_completo %>
</strong>

<p>
  <%= status.contenido %>
</p>

  <div>

    <%= link_to "Hace"+ time_ago_in_words(status.created_at), status %>

    <span class="admin">
      |
    <%= link_to "Editar", edit_status_path(status) %>
             |
      <%= link_to "Borrar", status, method: :delete, data: {confirm: "¿Seguro que desea Eliminar el Estado?"}  %>
    </span>

  </div>
</div>
<% end %>

<script>
(function(){
  var status=document.getElementsByClass("status");

  //Funcion


}()
);
</script>
